.logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
nav {
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
nav ul li {
    display: inline-block;
    padding: 0 10px 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.banner {
    background-image: url("https://images.pexels.com/photos/1437267/pexels-photo-1437267.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 20vh;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 10px;
}
.hero-content {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50%;
}
.menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.food {
    width: 20%;
    background-color: yellow;
    border: 1px solid yellow;
    margin: 0 15px 0 15px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
footer {
    margin-top: 20px;
    width:"100px";
    display: flex;
    justify-content: space-between;

}
.copyright {
    display: inline-block;
    width: 48%;
    height: auto;
    border-top: 1px solid black;
    text-align: right;
}
.footer-logo {
    display: inline-block;
    height: auto;
    width: 48%;
}
.footer-logo img {
     object-fit: cover;
     object-position: 0% 44%;
     width: 100px;
     height: 140px;
}